body {
    font-size: 16px;
}

.navbar-left.nav > li > a {
    display: inline-block;
    padding: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.section-title {
    text-align: left !important;
}

.section-title h2::after {
    margin: 0;
    left: 0;
}

.content-block.light-bg {
    background: #eee;
}

.hfeat.hfeat-box,
.hfeat.hfeat-round {
    padding: 0 0 0 110px;
}

#integrations .icon {
    background: white;
    padding: 10px;
}

.alert a {
    text-decoration: underline;
}

.tooltip * {
    text-align: left !important;
    font-size: 1.2em !important;
}

.section-title {
    margin-bottom: 2em;
}

.panel-title a {
    display: block;
}

.hnav.hnav-sm .navbar-nav > li > a {
    color: #ccc;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 45px;
    padding: 0 12px;
    text-transform: uppercase;
}

.jd h2 {
    margin-top: 3em;
}

.meta {
    padding: 10px 10px;
    margin: 0 0 15px 0;
    border: 1px solid #eee;
}

.meta .fa {
    margin: 0 10px 0 0;
    color: #218C8D;
}

.meta a {
    color: #2A3744;
}

.meta span {
    margin: 0 20px 0 0;
}

.meta span:hover a {
    color: #2A3744;
}

.meta span:hover .fa {
    color: #218C8D;
}

blockquote {
    font-style: italic;
}

blockquote cite {
    font-style: normal;
    display: block;
    text-align: right;
}

#site-cover {
    height: 1000px;
    background: linear-gradient(
            rgba(63, 75, 86, 0.8),
            rgba(63, 75, 86, 0.8)
    ),
    url(http://localhost/onlineassociates.local/images/blueprint-full.jpg) no-repeat;
    background-size: cover;
}

#site-cover h1 {
    z-index: 2;
    position: relative;
    top: 0;
    color: white;
    font-size: 5em;
    line-height: 1.5em;
    text-transform: uppercase;
    margin: 5em 0;
    word-spacing: 0.2em;
}

.project-image {
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    width: 100%;
}

#spotlight span {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    top: 25px;
    right: 25px;
    color: #218c8d;
    display: inline-block;
    padding: 0 5px;

}

.side-widget {
    background: white;
    border-top: 0;
    margin: 0 0 30px;
    padding: 30px 0;
    text-align: right;
}

ul.ul-toggle > li.active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

ul.ul-toggle > li.active a {
    color: #218c8d !important;
}