/**
 * Pimcore
 *
 * LICENSE
 *
 * This source file is subject to the new BSD license that is bundled
 * with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.pimcore.org/license
 *
 * @copyright  Copyright (c) 2009-2014 pimcore GmbH (http://www.pimcore.org)
 * @license    http://www.pimcore.org/license     New BSD License
 */

.cke-code-editor textarea {
    font-family: "courier new", courier !important;
}

/* pimcore editables */

.pimcore_tag_image .x5-panel-body {
    overflow: hidden;
}

.pimcore_tag_image .x5-panel-body img {
    max5-width: 100%;
    max5-height: 100%;
}

.pimcore_tag_image_alt {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.pimcore_block_buttons {
	padding: 10px 0 5px 0;
}

.pimcore_block_plus,
.pimcore_block_minus,
.pimcore_block_up,
.pimcore_block_down,
.pimcore_block_amount,
.pimcore_block_type,
.pimcore_block_options {
    float: left;
    padding: 0 2px 0 0;
}

.pimcore_block_clear {
	clear: both;
}

.pimcore_block_button_plus,
.pimcore_block_button_minus,
.pimcore_block_button_up,
.pimcore_block_button_down,
.pimcore_block_button_type {
	display: inline-block !important;
	margin: 0 3px 0 0;
}

.pimcore_block_button_plus button,
.pimcore_block_button_minus button,
.pimcore_block_button_up button,
.pimcore_block_button_down button {
	width: 16px;
}

.pimcore_block_entry {
	clear:both;
}

.pimcore_block_amount {
    /*width: 40px;*/
}

.pimcore_block_type,
.pimcore_block_type button {
    cursor:default !important;
}

.pimcore_block_button_type,
.pimcore_block_button_type button {
    cursor: move !important;
}

.pimcore_icon_plus {
	background: url(/pimcore/static5/img/icon/add.png) !important;
}

.pimcore_icon_minus {
	background: url(/pimcore/static5/img/icon/delete.png) !important;
}

.pimcore_icon_up {
	background: url(/pimcore/static5/img/icon/arrow_up.png) !important;
}

.pimcore_icon_down {
	background: url(/pimcore/static5/img/icon/arrow_down.png) !important;
}

.pimcore_icon_edit {
	background: url(/pimcore/static5/img/icon/pencil_go.png) !important;
}



.pimcore_area_dropzone {
    height: 20px;
    background: #a3bae9;
    border:2px dashed #fff;
    clear:both;
}

.pimcore_area_dropzone_hover {
    background: #6ec563;
}

.pimcore_wysiwyg_mask {
	position: absolute;
	z-index: 9997;
	background: #ff6600;
	/* beacause of IE */
	-moz-opacity: 0;
    -webkit-opacity: 0;
	opacity: 0;
	filter: Alpha(opacity=0);
}

/* default styles for wysiwyg (overwrite ExtJS reset CSS) */
.pimcore_tag_wysiwyg {
    position:relative;
}

.pimcore_iframe_mask {
	position: absolute;
	z-index: 9996;
}

.pimcore_tag_link {
	position: relative;
	padding: 0 30px 0 0;
}

.pimcore_tag_link .pimcore_edit_link_button {
	position: absolute;
	right: 0;
	top: -3px;
}

.pimcore_tag_snippet_empty {
	border: 1px solid #d0d0d0 !important;
	background:url(/pimcore/static5/img/icon/drop-40.png) center center no-repeat #f9fbfb !important;
}

.pimcore_tag_image_empty {
	border: 1px solid #d0d0d0 !important;
	background:url(/pimcore/static5/img/icon/drop-40.png) center center no-repeat #f9fbfb !important;
}

.pimcore_tag_video_empty {
	border: 1px solid #d0d0d0 !important;
	/*background:url(/pimcore/static5/img/icon/drop-40.png) center center no-repeat #f9fbfb !important;*/
    background:url(/pimcore/static5/img/icon/video-icon-big.png) center center no-repeat #f9fbfb !important;
    cursor: pointer;
}

.pimcore_tag_href input{
	background: url(/pimcore/static5/img/icon/drop-16.png) right 2px no-repeat #fff;
	cursor: default;
}

.pimcore_tag_droptarget {
    background: url(/pimcore/static5/img/icon/drop-16.png) center center no-repeat;
    position:absolute;
    width:20px;
    height:20px;
    right:5px;
    top:5px;
}


.pimcore_tag_block .x5-btn {
    width: auto;
    clear: none;
    border-collapse: separate;
    margin: 0;
    table-layout: auto;
}

.pimcore_tag_renderlet {
    position: relative;
}

.pimcore_tag_snippet {
    position: relative;
}

.pimcore_tag_snippet .x5-panel-body {
	background:none;
	overflow:hidden !important;	
}

.pimcore_tag_renderlet .x5-panel-body {
	overflow:hidden !important;	
	background:none;
}

.pimcore_tag_table {
    color: black !important;
}

.pimcore_droptarget_input  {
	background: url(/pimcore/static5/img/icon/drop-16.png) right 2px no-repeat #fff !important;
	cursor: default;
}

.pimcore_area_content {
    position:relative;
}

.pimcore_area_editmode.pimcore_area_editmode_hidden {
    position: absolute;
    top:-2000px;
    left:-10000px;
}

.pimcore_area_entry .pimcore_area_edit_button,
.pimcore_tag_area .pimcore_area_edit_button {
    position:absolute;
    width:25px;
    height:25px;
    right:5px;
    top:5px;
}

.pimcore_areablock_toolbar {
    opacity: .3;
}

.pimcore_areablock_toolbar:hover {
    opacity: .9;
    transition: all .2s ease-in 0; /* explorer 10 */
    -webkit-transition: all .2s ease-in 0; /* chrome & safari */
    -moz-transition: all .2s ease-in 0; /* firefox */
    -o-transition: all .2s ease-in 0; /* opera */
}

.pimcore_areablock_toolbar .x5-window-body {
    background-color: transparent;
}

.pimcore_areablock_toolbar .x5-btn-mc {
    text-align: left;
}

.pimcore_areablock_toolbar .x5-window-header {
    height: 15px;
}

.pimcore_tag_video {
    position: relative;
}
.pimcore_tag_video.x5-masked {
    min-height: 50px;
}

.pimcore_video_edit_button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    z-index: 10001;
}

.pimcore_image_marker {
    background: url(/pimcore/static5/img/icon/marker.png);
    width: 20px;
    height: 35px;
    cursor: pointer;
    position: absolute;
}

.pimcore_image_hotspot {
    cursor: pointer;
    position: absolute;
    background: rgba(0, 255, 0, 0.5);
}

.pimcore_pdf_hotspot {
    background: rgba(0, 255, 0, 0.5);
}

.hasMetadata {
    color: #db1d09;
}

.pimcore_tag_multihref .x5-panel, .pimcore_tag_table .x5-panel  {
    border:1px solid #000;
}

.pimcore_tag_select, .pimcore_tag_checkbox {
    display: inline-block;
}

/* text fields: hover, focus, ... states */
.pimcore_tag_input, .pimcore_tag_wysiwyg, .pimcore_tag_textarea, .pimcore_tag_textarea:focus .pimcore_wysiwyg:focus {
    outline:0 auto;
    overflow-y: visible;
}

.pimcore_tag_input.empty, .pimcore_wysiwyg.empty, .pimcore_tag_textarea.empty {
    box-shadow: 0 0 5px 2px #E8E8E8;
}

.pimcore_wysiwyg.empty:after {
    /* this is a firefox fix, to set the hight automatically to the font height, otherwise the height of the input can be 0px */
    content: "\0000a0";
}

.pimcore_tag_input:hover, .pimcore_wysiwyg:hover, .pimcore_tag_textarea:hover {
    box-shadow: 0 0 5px 2px #BABABA;
}

.pimcore_tag_input:focus, .pimcore_wysiwyg:focus, .pimcore_tag_textarea:focus {
    box-shadow: none;
}

.pimcore_tag_textarea {
    white-space: pre-line;
    width: 100%;
}



/* ext component styles */

*[class^="x5-"], *[class*=" x5-"], *[class^="ux5-"], *[class*=" ux5-"] {
    box-sizing: border-box;
    font-family: Arial , Tahoma, Verdana, sans-serif;
    font-size: 11px;
    padding: 0;
    margin: 0;
    outline: 0 none;
}

*[class*="x5-"] em {
    font-style: normal;
}

.x5-unselectable, .x5-unselectable * {
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}



/* all ext windows have to be above the dnd masks (wysiwyg, iframe) */
.x5-window {
    z-index: 9998 !important;
    background: #000;
    padding: 5px;
    border-radius: 2px;
    border:1px solid #363636;
    box-shadow: 0px 0px 70px 0px #000;
}

.x5-window-header {
    height: 20px;
    color: #fff;
}


.x5-window-body {
    background-color: #fff;
    width: 100%;
}

.x5-window-footer {
    max5-width: 100%;
    padding-top: 10px;
}

.x5-window-draggable {
    cursor: move;
}

.x5-combo-list {
    z-index: 10004 !important;
}

/* because this causes problems with the fixed z-index of combo and window above */
.x5-shadow, .x5-ie-shadow {
    display: none !important;
}

.x5-list-body dt em {
    color:black;
}

/* FF >= 10 fix for menu seperator in ExtJS */
.x5-menu-sep {
    height: 1px;
}

/*
    this fixes problem when the default background of the browser is not white
    http://www.pimcore.org/issues/browse/PIMCORE-1208
*/
.x5-form-field {
    color: #000000;
}


.x5-btn {
    cursor: pointer;
    color: #fff;
    border-collapse: collapse;
    padding: 0 3px 0 3px;
    margin: 0;

    border-radius: 2px;
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    background-color: #363636;
    display: inline-block;
}

.x5-btn-over {
    background-color: #222;
}

.x5-btn th, .x5-btn td, .x5-btn tbody, .x5-btn tr {
    padding: 0;
}

.x5-btn td {
    display: none;
}

.x5-btn .x5-btn-mc {
    display: block;
}

.x5-btn-text {
    display: inline-block;
    border:0;
    margin: 0;
    color:#fff;

    background-color: transparent;
    background-position: left center !important;
    background-repeat: no-repeat !important;

    padding: 0 0 0 0;
    min-height: 21px;
    min-width: 16px;
    outline: 0 none;
    white-space: nowrap;
    overflow: visible;
    cursor: pointer;
}

.x5-btn-icon .x5-btn-text {
    padding-left: 0;
}

.x5-btn-noicon {

}

.x5-btn .x5-btn-arrow {
    padding-right: 10px;
    position: relative;
}

.x5-btn .x5-btn-arrow:after {
    position: absolute;
    top: 4px;
    right: 2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3px 0 3px;
    border-color: #ffffff transparent transparent transparent;
    content: "";
}

.x5-btn-text-icon {
    padding-right: 5px;
}

.x5-btn-text-icon .x5-btn-text {
    padding-left: 25px;
}

.x5-menu {

}

.x5-menu-list {
    padding: 5px;
    list-style: none;
    background: #000;
    color: #fff;
    border-radius: 2px;
    margin: 2px 0 0 0;
    height: auto !important;
}

.x5-menu-list-item {
    display: block;
    outline: 0 none;
    padding: 4px 0 2px 0;
    margin: 2px 0 2px 0;
    border-radius: 2px;
    background: #363636;
    min-height: 21px;
}

.x5-menu-item {
    color:#fff;
    padding: 2px 5px 2px 25px;
    outline: 0 none;
    position: relative;
}

.x5-menu-item-active {
    background: #fff;
    color: #000;
    cursor: pointer;
}

.x5-menu-item:link, .x5-menu-item:visited, .x5-menu-item:focus, .x5-menu-item:active, .x5-menu-item:hover {
    outline: 0 none;
    text-decoration: none;
    color: #fff;
}

.x5-menu-item-active .x5-menu-item, .x5-menu-item:hover {
    text-decoration: none;
    color: #000;
}

.x5-menu-item-text {

}

.x5-menu-item-icon {
    position: absolute;
    left:3px;
    top:0;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.x5-tip {
    background: #000;
    color: #fff;
    padding: 5px;
    border-radius: 2px;
    width: auto !important;
    box-shadow: 0px 0px 20px 5px #fff;

    /*display: block !important;
    visibility: visible !important;*/
}

.x5-tip-anchor {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute !important;

    display: block !important;
    /*
    visibility: visible !important;*/
}

.x5-tip-anchor-top {
    top: -5px;
    left: 5px;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #000 transparent;
}

.x5-tip-anchor-right {
    right: -5px !important;
    top: 3px !important;
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent #000;
}

.x5-tip-anchor-bottom {
    bottom: -5px;
    left: 5px;
    border-width: 6px 6px 0 6px;
    border-color:  #000 transparent transparent transparent;
}

.x5-tip-anchor-left {
    left: -5px;
    top: 5px;
    border-width: 6px 6px 6px 0;
    border-color: transparent #000 transparent transparent;
}

.x5-tool-toggle {
    cursor: pointer;
    float: right;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #fff transparent;
}

.x5-window .x5-dlg-focus {
    display: none;
}

.x5-panel-ghost {
    z-index:12000;
    overflow:hidden;
    position:absolute;
    left:0;top:0;
    opacity:.65;
    -moz-opacity:.65;
    filter:alpha(opacity=65);
    background-color:#f2f2f2;
}

.x5-panel-ghost ul {
    margin:0;
    padding:0;
    overflow:hidden;
    font-size:0;
    line-height:0;
    border:1px solid #d0d0d0;
    border-top:0 none;
    display:block;
}

.x5-panel-ghost * {
    cursor:move !important;
}

.x5-panel-ghost .x5-window-tl {
    border-bottom:1px solid;
}

.x5-panel.x5-panel-noborder {
    border:0;
}

.x5-form-text {
    border: 1px solid #C1C1C1;
}

.x5-form-field-wrap {
    position: relative;
    clear: both;
}

.x5-form-field-wrap .x5-form-trigger {
    width: 22px;
    height: 21px;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    background: #000 no-repeat center center;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.x5-form-field-wrap .x5-form-arrow-trigger {
    background-image: url(/pimcore/static5/img/icon/bullet_arrow_down.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.x5-form-field-wrap .x5-form-spinner-trigger {
    background-image: url(/pimcore/static5/img/icon/arrow_ns.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 15px;
}

.x5-form-field {
    font-size: 12px;
    line-height: 14px;
}

.x5-form-text {
    padding: 3px 3px 2px 3px;
}



.x5-date-menu .x5-menu-item {
    padding:1px 24px 1px 4px;
    white-space: nowrap;
}

.x5-date-menu .x5-menu-item .x5-menu-item-icon {
    width:10px;
    height:10px;
    margin-right:5px;
    background-position:center -4px !important;
}

.x5-date-menu .x5-menu-list{
    padding: 0;
}

.x5-date-menu {
    padding:0 !important;
}

.ext-ie .x5-date-menu{
    height: 199px;
}

.ext-strict .ext-ie .x5-date-menu, .ext-border-box .ext-ie8 .x5-date-menu{
    height: 197px;
}

/*.x5-panel-tbar {*/
    /*background: #000;*/
/*}*/

.x5-toolbar {
    color: #fff;
    padding: 3px 5px 3px 5px;
}

.x5-toolbar td {
    vertical-align: middle;
}

.x5-toolbar-left {
    width: 100%;
}

.x5-toolbar .x5-btn {
    margin-left: 3px;
    vertical-align: middle;
}

.x5-grid3-row {
    border-bottom: 1px solid #ccc;
}

.x5-grid3-row-last {
    border:0;
}

.x5-grid3-header {
    background: #EDEDED;
    border-bottom: 1px solid #ccc;
}

.x5-grid3-header {
    padding: 0;
}

.x5-grid3-scroller {
    padding: 0;
}

.x5-grid3-body {
    border-bottom: 1px solid #ccc;
}

.x5-grid3-resize-marker, .x5-grid3-resize-proxy {
    display: none;
}

.x5-grid3-cell {
    border-right: 1px solid #ccc;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: ignore;
}


.x5-grid3-cell-inner, .x5-grid3-hd-inner {
    height: 25px;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.x5-grid3-hd-row td, .x5-grid3-row td, .x5-grid3-summary-row td {
    outline:0;
}

.x5-grid3-cell-selected {
    background-color: #DEDEDE;
}

.x5-grid3-row-selected {
    background-color: #DEDEDE;
}

.x5-grid3-row-over {
    background-color: #EDEDED;
}

.x5-grid-editor .x5-form-text {
    height: 25px !important;
    padding: 5px;
}

.x5-action-col-cell {
    cursor: pointer;
}

.x5-fieldset {
    border:1px solid #000;
}

.ux5-mselect {
    overflow: auto;
    overflow-x: hidden;
}

.x5-list-body {

}

.x5-list-body dl {
    border-bottom: 1px solid #ccc;
    padding: 3px 5px;
    cursor: pointer;
    margin: 0;
}

.ux5-form-multiselect .x5-fieldset {
    box-sizing: content-box;
}

.x5-list-body .ux5-mselect-selected {
    background: #EDEDED;
}

.x5-combo-list {
    background: #000;
    padding: 5px;
    overflow: hidden;
    box-sizing: content-box;
}

.x5-combo-list .x5-combo-list-inner {
    width: auto !important;
    overflow: auto;
}

.x5-combo-list .x5-combo-list-item {
    padding: 2px 5px;
    color:#fff;
}

.x5-combo-list .x5-combo-selected {
    color:#000;
    background:#fff;
    border-radius: 2px;
    cursor: pointer;
}

.x5-date-inner {
    border-collapse: collapse;
}

.x5-date-inner td, .x5-date-inner th {
    width: 25px;
    text-align: center;
    border: 1px solid #fff;
    padding: 2px;
}

.x5-date-inner th {
    background-color: #ccc;
    color: #000;
}

.x5-date-inner td a {
    color: #fff;
    text-decoration: none;
}

.x5-date-right, .x5-date-left {
    width: 16px;
}

.x5-date-right a, .x5-date-left a {
    width: 16px;
    display: inline-block;
}

.x5-date-right a {
    background: url(/pimcore/static5/img/icon/bullet_right.png) center center no-repeat;
}

.x5-date-left a {
    background: url(/pimcore/static5/img/icon/bullet_left.png) center center no-repeat;
}

.x5-date-mp {
    padding: 3px;
    height: auto !important;
}

.x5-date-mp-month, .x5-date-mp-year {
    text-align: center;
    border:1px solid #363636;
}

.x5-date-mp-sel {
    background:#000;
}

.x5-date-mp a {
    color: #fff;
    text-decoration: none;
}

.x5-date-mp-ok, .x5-date-mp-cancel {
    color: #000;
    padding: 3px;
    background: #fff;
    border-radius: 2px;
    border: 0;
    margin-right: 3px;
}

.x5-panel-header {
    background: #000;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

.x5-masked-relative {
    position: relative !important;
}

.x5-masked select, .x5-masked object, .x5-masked embed {
    visibility: hidden;
}

.x5-masked {
    /* reset the css that is set to x5-*  above for all ext elements */
    font:inherit;
    box-sizing: inherit;
    padding: inherit;
    margin: inherit;
    outline: inherit;

    overflow: hidden !important;
}

.ext-el-mask {
    position: absolute;
    background: #ccc;
    opacity: .5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    zoom: 1;
}

.x5-menu-focus {
    position:absolute;
    left:-1px;
    top:-1px;
    width:1px;
    height:1px;
    line-height:1px;
    font-size:1px;
    -moz-outline:0 none;
    outline:0 none;
    -moz-user-select: none;
    -khtml-user-select:none;
    -webkit-user-select:ignore;
    overflow:hidden;
    display:block;
}

/** new */
.x5-toolbar-default {
    background-image: none;
    background: #000;
}

.x5-form-date-trigger {
    background: #363636;
    background-image: url(/pimcore/static5/img/icon/calendar.png);
}

.x5-form-trigger-default {
    border-color: #000000;
}

/*
.x5-menu-body {
    background: #000;
}
*/